- if user_signed_in?
  .top__container
    .top__container-banner
      .top__container-banner-campaign-main
      .top__container-banner-campaign-list
  .top__container-events
    .event__container
      .event__container-event
        %a.event__container-event-image
        .event__container-event-status 申込み受付中
        .event__container-event-content
          %a.event__container-event-content--avatar
          %a.event__container-event-content--title TechCampにいこう
          %a.event__container-event-content--schedule 2016/8/27 - 2016/8/29
          .event__container-event-content--attend

      .event__container-event
        %a.event__container-event-image
        .event__container-event-status 申込み受付中
        .event__container-event-content
          %a.event__container-event-content--avatar
          %a.event__container-event-content--title TechCampにいこう
          %a.event__container-event-content--schedule 2016/8/27 - 2016/8/29
          .event__container-event-content--attend

      .event__container-event
        %a.event__container-event-image
        .event__container-event-status 申込み受付中
        .event__container-event-content
          %a.event__container-event-content--avatar
          %a.event__container-event-content--title TechCampにいこう
          %a.event__container-event-content--schedule 2016/8/27 - 2016/8/29
          .event__container-event-content--attend

      .event__container-event
        %a.event__container-event-image
        .event__container-event-status 申込み受付中
        .event__container-event-content
          %a.event__container-event-content--avatar
          %a.event__container-event-content--title TechCampにいこう
          %a.event__container-event-content--schedule 2016/8/27 - 2016/8/29
          .event__container-event-content--attend

      .event__container-event
        %a.event__container-event-image
        .event__container-event-status 申込み受付中
        .event__container-event-content
          %a.event__container-event-content--avatar
          %a.event__container-event-content--title TechCampにいこう
          %a.event__container-event-content--schedule 2016/8/27 - 2016/8/29
          .event__container-event-content--attend

      .event__container-event
        %a.event__container-event-image
        .event__container-event-status 申込み受付中
        .event__container-event-content
          %a.event__container-event-content--avatar
          %a.event__container-event-content--title TechCampにいこう
          %a.event__container-event-content--schedule 2016/8/27 - 2016/8/29
          .event__container-event-content--attend
    .event__container-event-more
      = link_to "もっとみる","#",{ class: "event__container-event-more-text" }
- else
  = render "layouts/welcome"
