- if user_signed_in?
  .top__container
    .top__container-banner
      .top__container-banner-campaign-main
      .top__container-banner-campaign-list
  .top__container-events
    .event__container
      = render partial: "layouts/event_tile", collection: @events, as: :event
    .event__container-event-more
      = link_to "もっとみる","#",{ class: "event__container-event-more-text" }
- else
  = render "layouts/welcome"
  .top__container-events
    .event__container
      = render partial: "layouts/event_tile", collection: @events, as: :event
