/*-- Body style ---------------------------------- */
body {
  font: 100% sans-serif;
  font-size: 14px;
  color: #666;
  background-color: #f1f1f1;
  height: 100%;
}

a {
  color: #666;
  text-decoration: none;
  background-color: transparent;
  &:hover {
    color: #ccc;
    text-decoration: none;
  }
  &:focus {
    color: #ccc;
    text-decoration: none;
  }
}
