/*-- mixin define ---------------------------------- */
@mixin clearfix() {
  &:after { content: ''; display: block; clear: both; }
}


/*-- Navbar style ---------------------------------- */


/*-- Body style ---------------------------------- */
body {
  font: 100% sans-serif;
  font-size: 14px;
  color: #666;
  background-color: #f1f1f1;
  height: 100%;
}


/* -- header style ------------------------------------ */
header {
  background-color: #f4eed5;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  display: block;
}

.header {
  &-container {
    zoom: 1;
    width: 960px;
    margin: 0 auto;
  }

  &-logo {
    display: inline-block;
    width: 128px;
    margin: 0;
    // float: left;
    &-img {
      display: block;
      margin: 0;
      background: url(wide_s.png) 0 center no-repeat;
      background-size: 128px 36px;
      height: 50px;
    }
  }
}

/* -- 未サインイン時のTOP ------------------------------------ */
.welcome-container {
  background: url(img_index_main.jpg) no-repeat;
  background-size: cover;
  height: 860px;
  padding: 20px;
  margin-bottom: 40px;

  &-logo {
    background: url(logo_big.png) left no-repeat;
    background-size: 200px 57px;
    width: 500px;
    height: 57px;
  }

  &-main {
    margin: 0 auto;
    text-align: center;
  }

  &-recommend {
    font-size: 32px;
    font-weight: 400;
    color: #999;
    margin: 0 0 50px;
    text-align: center;
  }

  &-title {
    width: 510px;
    margin: 20px auto;

    // height: 158px;
    &-box {
      width: 510px;
      height: 158px;
      background: url(main_copy_index.png) center no-repeat;
      background-size: 510px 158px;
    }
  }

  &-catchcopy {
    margin: 0 auto 260px;
    color: #fff;
    font-size: 20px;
    // memo
  }

  &-account {
    background: rgba(0,0,0,.4);
    width: 600px;
    padding: 20px;
    border-radius: 6px;
    margin: 0 auto;
    text-align: center;

    &-signup {
      // memo
    }

    &-signin {
      margin: 20px auto;

      &-text {
        display: block;
        width: 300px;
        padding: 10px 0;
        text-align: center;
        border: 1px solid #fff;
        color: #fff;
        margin: 20px auto;
      }
    }
  }
}


/* -- top__container style ------------------------------------ */
.top__container {
  margin-top: 50px;
  @include clearfix();

  &-banner {
    margin: 0;
    height: 472px;

    &-campaign-main {
      background: url(login_topbanner.jpg) 0 center no-repeat;
      height: 420px;
      position: relative;
      background-size: cover;
    }

    &-campaign-list {
      width: 960px;
      margin: auto;
      height: 52px;
    }
  }

  &-events {
    width: 990px;
    margin: 0 auto;
    // memo
  }
}

/* -- event__container style ------------------------------------ */
.event__container {
  @include clearfix();
  &-event {
    position: relative;
    width: 298px;
    height: 288px;
    margin: 0 30px 30px 0;
    float: left;
    border: 1px solid #ccc;
    border-bottom: 5px solid #ccc;
    background: #fdfdfd;

    &-image {
      display: block;
      width: 298px;
      height: 200px;
      overflow: hidden;
      background-image: url(event-man-sample.jpg);
      background-size: cover;
      background-position: 0;
      background-repeat: no-repeat;
    }

    &-status {
      width: 120px;
      height: 30px;
      background: rgba(0,0,0,.4);
      color: #fff;
      line-height: 30px;
      text-align: center;
      position: absolute;
      top: 12px;
      right: 0;
      font-size: 12px;
    }

    &-more {
      text-align: center;
      padding: 20px 0;

      &-text {
        display: inline-block;
        height: auto;
        cursor: pointer;
        background-color: #fcb753;
        color: #fff;
        padding: 5px 0;
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        vertical-align: middle;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 0;
        width: 140px;
      }
    }

    &-content {
      zoom: 1;
      display: block;
      padding: 15px;
      position: relative;

      &--avatar {
        display: block;
        width: 30px;
        margin-right: 10px;
        float: left;
      }

      &--title {
        display: block;
        float: right;
        width: 228px;
        color: #666;
        height: 40px;
        overflow: hidden;
      }

      &--schedule {
        display: inline-block;
        padding: 5px 0 7px;
        color: #ccc;
        font-size: 12px;
      }

      &--attend {
      }
    }
  }
}

/* -- Devise sytle------------------------------------ */
/* -- flash_msg ------------------------------------ */
.notice {
  margin: 0;
}

.alert {
  margin: 0;
}

/* -- sign_up ------------------------------------ */
.signup__container {
    font: 100% sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #f1f1f1;

  &-bg {
    background: url(world_map.png) center 0 no-repeat;
    background-size: 120% auto;
    min-height: 740px;
  }

  &-main {
    width: 680px;
    margin: 40px auto;
    text-align: center;
  }

  &-logo {
    display: block;
    background: url(logo_big.png) center no-repeat;
    background-size: 340px 96px;
    margin-bottom: 40px;
    height: 96px;
  }

  &-form {
    background: #fdfdfd;
    margin-bottom: 40px;
    width: 640px;
    padding: 20px;

    &-catchcopy {
      font-size: 24px;
      margin: 0 0 40px;
      font-weight: 400;
    }

    &-list {
      margin-bottom: 20px;
      text-align: left;
    }
    &-input {
      background: #fff;
      outline: 0;
      line-height: 1.5;
      border: 1px solid #ccc;
      width: 308px;
      padding: 10px;
      border: 1px solid #ccc;
      margin-right: 20px;
    }

    &-info {
      color: #999;
      font-size: 12px;
    }

    &-btn {
      display: inline-block;
      color: #fff;
      padding: 10px;
      margin-bottom: 0;
      font-size: 12px;
      text-align: center;
      border: 1px solid transparent;
      border-radius: 0;
      margin-top: 20px;
      width: 160px;
    }
  }
}

/* -- sign_up ------------------------------------ */
.signin__container {
  font: 100% sans-serif;
  font-size: 14px;
  color: #666;
  background-color: #f1f1f1;

  &-bg {
    background: url(world_map.png) center 0 no-repeat;
    background-size: 120% auto;
    min-height: 740px;
  }

  &-main {
    width: 680px;
    margin: 40px auto;
    text-align: center;
  }

  &-logo {
    display: block;
    background: url(logo_big.png) center no-repeat;
    background-size: 340px 96px;
    margin-bottom: 40px;
    height: 96px;
  }

  &-form {
    width: 640px;
    padding: 20px;

    &-list {
      text-align: center;
      color: #999;
      font-size: 12px;
    }

    &-input {
      background: #fff;
      margin-right: 10px;
      width: 258px;
      height: 28px;
      padding: 2px 5px;

      &-last {
        background: #fff;
        width: 258px;
        height: 28px;
        padding: 2px 5px;
        margin: 0;
      }

      &-forgot {
        margin: 0 0 20px 106px;
        &-text {
          color: #fcb753;
          text-decoration: none;
          border: 0;
        }
      }
    }

    &-btn {
    display: inline-block;
    color: #fff;
    padding: 10px;
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0;
    margin-top: 20px;
    width: 160px;
    }
  }
}

/* -- profile(show) page style ------------------------------------ */
.user__container {
  min-height: 100%;
  &-profile {
    width: 960px;
    border: 1px solid #ccc;
    background: #fdfdfd;
    margin: 100px auto 20px;

    &-cover {
      height: 280px;
      border-bottom: 1px solid #ccc;

      &-img {
        border: 0;
        width: 960px;
        height: 283px;
      }
    }

    &-infos {

      &-upper{
        position: relative;
      }

      &-avatar {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 100px;
        border: 1px solid #fff;
        margin: -80px auto 0;
        &-img {
          border: 0;
          width: 100px;
        }
      }

      &-fullname {
        font-size: 26px;
        font-weight: 400;
        text-align: center;
        margin: 10px auto 0;
      }

      &-statuses {
        @include clearfix();
        margin: 20px auto;
        width: 480px;

        &-status {
          width: 100px;
          margin: 0 10px;
          float: left;

          &-sum {
            width: 100px;
            font-size: 26px;
            text-align: center;
            margin-bottom: 10px;

            &-text {
              color: #666;
              border: 0;
            }
          }

          &-label {
            color: #999;
            text-align: center;
            font-size: 14px;
          }
        }
      }

      &-lower {
        @include clearfix();

        &-list {
          padding: 20px;
          border-top: 1px solid #ccc;
        }

        &-title {
          font-size: 26px;
          font-weight: 400;
          color: #999;
          margin: 0;
        }

        &-desc {
          margin: 0 0 10px;

          &-span {

          }
        }
      }
    }
  }
  &-mylist {
    zoom: 1;
    width: 960px;
    margin: 0 auto;
    @include clearfix();

    &-tabs{
      width: 720px;
      height: 60px;
      margin-left: 1px;
    }

    &-ul {
      list-style: none;
      padding: 0;

    }

    &-li {
      float: left;
      display: block;
      width: 25%;
      border: 1px solid #ccc;
      background: #f1f1f1;
      line-height: 60px;
      text-align: center;
      margin: -1px;
    }

    &-li-active {
      float: left;
      display: block;
      width: 25%;
      border: 1px solid #ccc;
      background: white;
      line-height: 60px;
      text-align: center;
      margin: -1px;
    }

    &-text {
      color: #666;
    }

    &-events {
      background: #fdfdfd;
      border: 1px solid #ccc;

      &-box {
      }

      &-detail {
        padding: 10px;
      }

      &-contents {
        padding-left: 12px;
      }
    }
  }
}

/* -- profile(edit) page style ------------------------------------ */
.useredit__container{
  margin: 100px auto auto;
  &-box {
    @include clearfix();
    background-color: #fff;
    border: 1px solid #ccc;
    width: 960px;
    margin: 0 auto;
  }

  &-menu {
    float: left;
    width: 180px;
    padding: 15px;

    &-ul {
      list-style: none;
      padding: 0;
    }

    &-li {
      background: #f1f1f1;
      margin: 0 -15px;
      border-right: 4px solid #f6625b;
      padding: 10px 0 10px 15px;
      font-size: 18px;
      &-li-text {
        color: #666;
        text-decoration: none;
        // border: 0;
      }
    }
  }
  &-main {
    @include clearfix();
    float: left;
    width: 778px;
    padding: 20px;
    border-left: 1px solid #ccc;
    background: #fdfdfd;
    &-box {
      // memo
    }
  }
  &-form {
    text-align: center;
    background-color: #fdfdfd;
    width: 390px;
    &-avatar {
      overflow: hidden;
      border: 0 solid #fff;
      border-radius: 100px;
      width: 100px;
      height: 100px;
      margin-right: 10px;
      float: left;

      &-imgbox {
        overflow: hidden;
        border: 0 solid #fff;
        border-radius: 100px;
        width: 100px;
        height: 100px;
        margin-right: 10px;
        float: left;
        &-img {
          border: 0;
          width: 100px;
        }
      }

      &-text {
        color: #999;
        font-size: 12px;
      }
      &-box {
        zoom: 1;
        width: 390px;
        text-align: left;
        margin-bottom: 20px;
      }

      &-file {

        &-btn {
          position: relative;
          display: inline-block;
          width: auto;
          height: auto;
          cursor: pointer;
          background-color: #fcb753;
          color: #fff;
          padding: 6px 12px;
          margin-bottom: 0;
          font-size: 12px;
          font-weight: 400;
          line-height: 1.5;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          background-image: none;
          border: 1px solid transparent;
          border-radius: 0;
        }
        &-text {
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          width: 100%;
          opacity: 0;
          position: absolute;
          padding: 4px;
          background: 0 0;
          border: 1px solid #ccc;
        }
      }
    }

    &-list {
      zoom: 1;
      margin-bottom: 20px;

      &-profile {
        zoom: 1;
        width: 390px;
        text-align: left;
        margin-bottom: 20px;
      }
      &-avatar {
        zoom: 1;
        margin-bottom: 20px;
      }
      &-account {
        zoom: 1;
        width: 390px;
        text-align: left;
        margin-bottom: 20px;
      }

      &-password {
        zoom: 1;
        width: 390px;
        text-align: left;
        margin-bottom: 20px;
      }

      &-submit {
        margin-top: 30px;
        &-btn {
          background-color: #fcb753;
          color: #fff;
          padding: 6px 0;
          font-size: 12px;
          border: 1px solid transparent;
          border-radius: 0;
          user-select: none;
          margin: 0 auto 10px;
          display: block;
          width: 170px;
        }
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 10px;
      color: #999;
    }

    &-text {
      margin-bottom: 10px;
      width: 378px;
      padding: 4px;
      background: 0 0;
      border: 1px solid #ccc;
    }

    &-text_profile {
      width: 378px;
      padding: 4px;
      background: 0 0;
      border: 1px solid #ccc;
    }
  }
}

/* -- footer style ------------------------------------ */
footer {
  margin: 100px auto auto;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  min-height: 80px;
  text-align: center;
}

.footer {
  &-menu {
    zoom: 1;
    width: 960px;
    margin: 0 auto;
  }
}
